@media only screen and (min-width: 768px) {
/* .menu { width:600px; } */
}

body {

background-color: coral;

}



#menu { 
  opacity : 0.4 ;
  min-width: 768px;
  font-size: 18px;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -4em;
  background-color: green;
}
#passo1 {
  font-weight: bold;
  font-size: 25px;
}
#passo2 {
  font-weight: bold;
  font-size: 25px;
}
#passo3 {
  font-weight: bold;
  font-size: 25px;
}
#passo3 {
  font-weight: bold;
  font-size: 25px;
}
#passo4 {
  font-weight: bold;
  font-size: 25px;
}
#passo5 {
  font-weight: bold;
  font-size: 25px;
}
#passo6 {
  font-weight: bold;
  font-size: 25px;
}
#passo7 {
  font-weight: bold;
  font-size: 25px;
}
#ultimopasso {
  font-weight: bold;
  font-size: 25px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
li {
  color: #fff;
}
