:root {
  --spacing: 18px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
  background-color: darkgreen;
}
#passo1 {
  font-weight: bold;
  font-size: 25px;
}
#passo2 {
  font-weight: bold;
  font-size: 25px;
}
#passo3 {
  font-weight: bold;
  font-size: 25px;
}
#passo3 {
  font-weight: bold;
  font-size: 25px;
}
#passo4 {
  font-weight: bold;
  font-size: 25px;
}
#passo5 {
  font-weight: bold;
  font-size: 25px;
}
#passo6 {
  font-weight: bold;
  font-size: 25px;
}
#passo7 {
  font-weight: bold;
  font-size: 25px;
}
#ultimopasso {
  font-weight: bold;
  font-size: 25px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
li {
  color: #fff;
}
