body {
  background-color: coral;
  padding: 5px;
}
@media screen and (max-width: 600px) {
  body {
    background-color: coral;
  }
}
@media screen and (max-width: 600px) {
  img {
    width: 10px;
  }
  img {
    width: 250px;
  }
}

#menu {
  opacity: 70%;
  position: fixed;
  font-style: italic;
  color: red;
  right: 0;
  top: 50%;
  /*   width: 8em; */
  margin-top: -2.5em;
  background-color: darkgreen;
}
#passo1 {
  font-weight: bold;
  font-size: 25px;
}
#passo2 {
  font-weight: bold;
  font-size: 25px;
}
#passo3 {
  font-weight: bold;
  font-size: 25px;
}
#passo3 {
  font-weight: bold;
  font-size: 25px;
}
#passo4 {
  font-weight: bold;
  font-size: 25px;
}
#passo5 {
  font-weight: bold;
  font-size: 25px;
}
#passo6 {
  font-weight: bold;
  font-size: 25px;
}
#passo7 {
  font-weight: bold;
  font-size: 25px;
}
#ultimopasso {
  font-weight: bold;
  font-size: 25px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
li {
  color: #fff;
}
